<!DOCTYPE html>
<html>
  <body>
      <%= attendees %>
      <br>
      <a href="/authen/accept/<%= OpenId %>/<%= ActId %>"><button>accept</button></a>
      <a href="/authen/favor/<%= OpenId %>/<%= ActId %>"><button>favor</button></a>
  </body>
</html>
