<!DOCTYPE html>
<html ng-app="createActv">
  <head>
    <% include head %>
    <script src="/js/createController.js"></script>
  </head>
  <body>
    <!-- Template -->   
    <script type="text/ng-template" id="/form.html">
      <input type="text" ng-model="title" placeholder="{{ items.title }}"><br> 
      <input type="text" ng-model="where" placeholder="{{ items.where }}"><br> 
      <input type="text" ng-model="when" placeholder="{{ items.when }}"><br> 
      <input type="text" ng-model="limits" placeholder="{{ items.limits }}"><br> 
      <input type="text" ng-model="descr" placeholder="{{ items.descr }}"><br> 
      <input type="text" ng-model="city" placeholder="<%= City %>"><br> 
      <select ng-model="typeOfAct" ng-change="change()" ng-options="option.type as option.type for option in actType"></select>
      <label><input type="checkbox" ng-model="isPublic" ng-click="check(isPublic)" />Public</label> 
      <a href="/actvs/attend/<%= OpenId %>/<%= ActId %>"><button ng-click='create("<%= OpenId %>", <%= ActId %>, "<%= City %>", "<%= Name %>", "<%= Avatar %>")'>create activity</button></a>
    </script>
    <ng-view></ng-view>

    <script type="text/ng-template" id="/activity.html">
      {{ actv.title }} </br>
      {{ actv.where }} </br>
      {{ actv.when }} </br>
      {{ actv.limits }} </br>
      {{ actv.descr }} </br>
      <h1>result: {{ result }}</h1>
    </script>
  </body>
</html>
