<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<%= title %> 
<!--
  TODO: input spent and split bill here
-->
      <a href="/actvs/conclude/<%= OpenId %>/<%= ActId %>"><button>结束活动</button></a>
      <a href="/actvs/cancel/<%= OpenId %>/<%= ActId %>"><button>取消活动</button></a>
  </body>
</html>
