<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<%= title %> 
      <a href="/actvs/start/<%= OpenId %>/<%= ActId %>"><button>开始活动</button></a>
      <a href="/actvs/cancel/<%= OpenId %>/<%= ActId %>"><button>取消活动</button></a>
  </body>
</html>
